* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #fff;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
}

a {
  color: #369;
  text-decoration: none;
}

a:hover {
  color: #036;
}

code,
pre {
  color: #333;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  font-size: 90%;
  overflow-x: auto;
  padding: 2px 4px;
  white-space: nowrap;
}

pre {
  background: cyan;
  display: block;
  word-wrap: break-word;
}

pre code {
  padding: 0;
  white-space: pre-wrap;
}

main button,
main .button,
input[type="text"],
input[type="tel"],
input[type="datetime"],
input[type="number"],
input[type="date"],
input[type="url"],
input[type="search"],
textarea {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ccc;
  box-shadow: 0 0 1px rgba(0,0,0,.2) inset;
  color: #333;
  font-family: inherit;
  font-size: 13px;
  line-height: 1;
  margin: 0;
  padding: 1px 2px;
  position: relative;
  transition: border .3s ease-in, box-shadow .3s ease-in;
  z-index: 2;
}

input[type=search] {
  border-radius: 15px;
  font-family: inherit;
  font-size: 40px;
  line-height: 50px;
  padding: 5px 10px;
  width: 100%;
}

input[type=email].large,
input[type=search].large,
input[type=text].large,
input[type=url].large,
textarea.large,
.input-prepend.large {
  font-size: 24px;
  height: 40px;
  line-height: 34px;
  padding: 4px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #5ca9e4;
  box-shadow: 0 0 0 2px rgba(70,161,231,.3), 0 1px 2px rgba(0,0,0,.2) inset;
}

input[type=checkbox],
input[type=file],
input[type=radio] {
  box-shadow: none !important;
}

a:not([href]),
button,
input[type=button],
input[type=reset],
input[type=submit],
label {
  cursor: pointer;
}

label {
  display: block;
  font-weight: 400;
}

::-webkit-input-placeholder {
  color: $gray;
}
:-moz-placeholder {
  color: $gray;
  text-overflow: ellipsis;
}
::-moz-placeholder {
  color: $gray;
  text-overflow: ellipsis;
}
[placeholder] {
  text-overflow: ellipsis;
}

.grid [placeholder]:-moz-placeholder:focus {
  color: transparent !important;
}
.grid [placeholder]:focus::-moz-placeholder {
  color: transparent !important;
}
.grid [placeholder]:focus::-webkit-input-placeholder {
  color: transparent !important;
}

form,
main {
  padding: 15px;
}

h1 {
  margin: 5px 15px 0;
}

.submit main {
  padding: 20px 15px 15px;
}

nav {
  background: #1799dd;  /* #ff9500 */
  font-weight: 600;
  height: 40px;
  padding: 0;
}

nav a {
  color: #fff;
  display: none;
  padding: 10px 15px;
  position: relative;
}

.results .submit,
.submit .browse,
[data-auth="false"] .sign-in {
  display: inline-block;
}

[data-auth="true"] .avatar {
  display: inline-block;
}

a.avatar {
  float: right;
  padding-left: 47px;  /* 32px + 15px */
}

.avatar img {
  border: 2px solid rgba(255,255,255,.6);
  border-radius: 25px;
  height: 25px;
  position: absolute;
  top: 7px;
  left: 15px;
  vertical-align: middle;
  width: 25px;
}

a.avatar:hover img {
  border-color: rgba(0,0,0,.6);
}

.sign-in {
  background: url(../login.svg) 15px 50% no-repeat;
  display: none;
  float: right;
  padding-left: 38px;  /* 15px for left padding + 16px for icon + 8px for margin */
}

nav .submit::before {
  color: #6d5;
  content: "\271a\00a0\00a0";  /* ✚ */
  text-shadow: 0 0 1px #160, 0 0 1px #160, 0 0 1px #160, 0 0 1px #160;
}

/*
nav .submit:hover::before {
  color: #160;
  text-shadow: 0 0 1px #6d5, 0 0 1px #6d5, 0 0 1px #6d5, 0 0 1px #6d5;
}
*/

nav .browse::before {
  color: #fd0;
  content: "\21ea";  /* ⇪ */
  display: inline-block;
  left: -3px;
  text-shadow: 0 0 1px #814, 0 0 1px #814, 0 0 1px #814, 0 0 1px #814;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-right: 4px;
  top: 1px;
  position: relative;
}

/*
nav .browse:hover::before {
  color: #814;
  text-shadow: 0 0 1px #fd0, 0 0 1px #fd0, 0 0 1px #fd0, 0 0 1px #fd0;
}
*/

nav a:hover {
  background-color: #fff;
  color: #1799dd;
}

.form-search {
  background: #111;
}

h1 {
  font-weight: 300;
}

h1 {
  color: #74c9ef;
  margin-bottom: 15px;
}

.submit h1 {
  font-weight: 400;
}

.results ol {
  color: #717782;
  font-size: 0;
  list-style: none;
}

.results li {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  padding: .5px;
  vertical-align: top;
  width: 20%;
}

.results li a {
  display: block;
  height: 200px;
  position: relative;
}

.results li a .screenshot {
  opacity: .6;
}

.results li a:hover .screenshot {
  opacity: 1;
}

.results li a:hover .name {
  background: #000;
}

.screenshot {
  background-color: #eee;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
}

.name {
  background: #111;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  left: 6px;
  line-height: 22px;
  padding: 4px 6px;
  pointer-events: none;
  position: absolute;
  top: 6px;
}

.speed {
  color: #ccc;
  font-size: 16px;
  margin-left: 2px;
}

[data-auth="true"] .only-signed-out,
[data-auth="false"] .only-signed-in {
  display: none;
}

form label {
  margin-bottom: 25px;
}

form label h2 {
  margin-bottom: 5px;
}

input {
  display: block;
  width: 50%;
}

.button.submit {
  background: #0e7;
  border-color: #cfc;
  box-shadow: 0 0 1px rgba(0,180,0,.2);
  color: #fff;
  font-weight: 600;
  margin-top: 5px;
  padding: 15px;
}

.button.submit:active,
.button.submit:hover {
  border-color: #18a011;
  box-shadow: 0 0 0 2px rgba(24,160,17,.3);
  color: #063;
}

.button.submit:active {
  box-shadow: 0 0 10px rgba(0,80,0,.4) inset;
  color: #999;
  opacity: .8;
}

.button.submit:active::before {
  opacity: .4;
}

.button.submit::before {
  color: #dfe;
  content: "\271a\00a0\00a0";  /* ✚ */
  text-shadow: 0 0 1px #160, 0 0 1px #160, 0 0 1px #160, 0 0 1px #160;
}

.button.submit:hover::before {
  color: #6d5;
}

@media (max-width: 900px) {
  .results li {
    width: 33.333%;
  }
  input {
    width: 100%;
  }
}

@media (max-width: 600px) {
  input[type=search] {
    font-size: 30px;
    line-height: 40px;
  }
  .results li {
    width: 50%;
  }
}

@media (max-width: 320px) {
  input[type=search] {
    font-size: 20px;
    line-height: 30px;
  }
  .results li {
    width: 100%;
  }
}

.notice {
  color: #999;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  padding: 15px;
}
